<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a class="!text-zinc-800 hover:!text-blue-600" href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
            <a class="!text-zinc-800 hover:!text-blue-600" href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
            <a class="!text-zinc-800 hover:!text-blue-600" href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
            <a class="!text-zinc-800 hover:!text-blue-600" href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
        <div class="icon">WanderLust Private Limited</div>
        <div class="f-info-links">
            <a class="!text-zinc-800 hover:!text-blue-600" href="/privacy">Privacy</a>
            <a class="!text-zinc-800 hover:!text-blue-600" href="/terms">Terms</a>
        </div>
    </div>
</footer>