<% layout("/layouts/boilerplates.ejs") %>

<div class="row mt-3">
    <!-- Same responsive sizing: Mobile pe full, Desktop pe centered -->
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        
        <!-- Login Form Structure -->
        <form action="/login" method="POST" class="form needs-validation" novalidate>
            <p class="title">Welcome Back</p>
            <p class="message">Login to access your dashboard.</p>
            
            <label>
                <input class="input" name="username" type="text" required />
                <span>Username</span>
            </label>

            <label>
                <input class="input" type="password" name="password" required />
                <span>Password</span>
            </label>
            
            <button class="submit">Login</button>
            <p class="signin">Don't have an account? <a href="/signup">Sign up</a></p>
        </form>
    </div>
</div>