<% layout("/layouts/boilerplates.ejs") %>

<div class="row mt-3">
    <!-- col-12 for mobile, col-md-8 offset-md-2 for tablets, col-lg-6 offset-lg-3 for desktop -->
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <h1 class="mb-4 text-center">SignUp on Wanderlust</h1> <!-- Title Centered -->
        
        <!-- From Uiverse.io by ammarsaa -->
        <form action="/signup" method="POST" class="form needs-validation" novalidate>
            <p class="title">Register</p>
            <p class="message">Signup now and get full access to our app.</p>
            
            <label>
                <input class="input" name="username" type="text" required />
                <span>Username</span>
            </label>

            <label>
                <input class="input" type="email" name="email" required />
                <span>Email</span>
            </label>
            
            <label>
                <input class="input" type="password" name="password" required />
                <span>Password</span>
            </label>
            
            <button class="submit">Submit</button>
            <p class="signin">Already have an account? <a href="/login">Login</a></p>
        </form>
    </div>
</div>